<div class="container mt-5">
  <!-- Background Video -->
  <video autoplay muted loop id="background-video">
    <source src="/assets/videos.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <h2>Weather</h2>
  <h3 class="date text-center p-3" [innerHTML]="dateString"></h3>
  <input type="search" class="form-control" [(ngModel)]="searchQuery" (input)="getWeather()" name="searchQuery"
    placeholder="Search your location">

  <!-- Location details -->
  <div class="row text-center">
    <div class="row  mt-3" *ngIf="weatherData.name">
      <div class="location">
        <h1><span><i class="fa-solid fa-location-dot"></i></span> {{weatherData.name}}</h1>

        <!-- Convert temperature to Celsius -->
        <h1 class="temp ">{{ kelvinToCelsius(weatherData.main.temp)}}°</h1>
        <!-- Display the weather type -->
        <h4 >{{ getWeatherType() }}</h4>
      </div>

      <div class="row weather mt-5 ms-1  border border-dark" *ngIf="weatherData.main">
        <div class="col-lg-6 mt-2 text-center ">
          <h6 >Humidity</h6>
          <h4>{{ getHumidity() }}%</h4>
        </div>

        <div class="col-lg-6 mt-2 text-center">
          <h6>Feels like</h6>
          <h4>{{ kelvinToCelsiusFeelsLike(weatherData.main.feels_like) }}°C</h4>
        </div>

        <div class="row mt-3 text-center" *ngIf="weatherData.main.sea_level && weatherData.main.grnd_level">
          <div class="col-lg-6 ">
            <h6>Sea level</h6>
            <h4 >{{ getSeaLevel() }} meters</h4>
          </div>

          <div class="col-lg-6   ">
            <h6 class="grnd ms-5">Ground level</h6>
            <h4 class=" ms-2">{{ getGroundLevel() }} meters</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>